node_modules/
artifacts/
cache/
test/
typechain-types/
types/
coverage/
coverage.json
frontend-seed-report.json

.zip
.env
.env.*
!.env.example

deployments/local/*.json
deployments/testnet/*.json

contracts/test/

ignition/deployments/